# dependencies
node_modules
.pnpm-store

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build outputs
.next
out
dist
build
coverage

# OS
.DS_Store
Thumbs.db